

/* SOBRE LOS ARTICULOS ANIMACIONES */
.box{
  /*background: linear-gradient(180deg, #e52d27 0%, #58BCFF 100%);*/
  /*background: radial-gradient(circle, #58BCFF, #58BCFF);*/

  background-image: linear-gradient(to right, #58BCFF 55%, #00FFC3);


  font-family: 'Nanum Gothic', sans-serif;
  border-radius: 0 0;
  position: relative;
  overflow: hidden;
}
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after{
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: all 600ms ease;
}
.box:after{
  top: auto;
  bottom: 15px;
  left: auto;
  right: 15px;
}
.box .box-content:before,
.box .box-content:after{
  width: 1px;
  height: 100%;
  transform: scaleY(0);
}
.box .box-content:after{
  left: auto;
  right: 15px;
  top: auto;
  bottom: 15px;
}
.box:hover:before,
.box:hover:after,
.box:hover .box-content:before,
.box:hover .box-content:after{
  transform: scale(1);
}
.box img{
  width: 100%;
  height: auto;
  transform: scale3d(1.1, 1.1, 1);
  transition: all 0.25s linear;
}
.box:hover img{
  opacity: 0.25;
  transform: scale(1.25);

}



.box .inner-content{
  color: #fff;
  text-align: center;
  width: 70%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 70%;
  left: 50%;
  transition: all 600ms ease;
}
.box:hover .inner-content{
  opacity: 1;
  top: 50%;
}
.box .title{
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 3px;
}
.box .post{
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 0 12px;
  display: block;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  display: inline-block;
  margin: 0 4px;
}
.box .icon li a{
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  border-radius: 2px 0 2px 0;
  display: block;
  transition: all 0.3s;
}
.box .icon li a:hover{
  color: #00619c;
  background: #fff;
  border-radius: 0 3px 0 3px;
}
@media only screen and (max-width:990px){
  .box { margin: 0 0 30px; }
}

.modal-image {
  width: 100%;
  height: 100%;

}



/*============redes sociales===============*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:330px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-70px;

}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}



/*olor redes sociales*/
.facebook-color{
    filter: invert(29%) sepia(98%) saturate(423%) hue-rotate(182deg) brightness(88%) contrast(83%);
}
.twitter-color{
  filter: invert(49%) sepia(60%) saturate(3828%) hue-rotate(167deg) brightness(104%) contrast(101%);
}
.youtube-color{
  filter: invert(21%) sepia(60%) saturate(5236%) hue-rotate(353deg) brightness(84%) contrast(78%);
}
.whatsapp-color{
  filter: invert(66%) sepia(28%) saturate(1018%) hue-rotate(76deg) brightness(96%) contrast(84%);
}
